{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}بحث عن طالب{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br />
<div class="alert alert-dismissible alert-primary">
    <h2 style="text-align:center">بحث عن طالب</h2>
</div>
<br />
{# 
{{ form_start(form) }}
{{ form_widget(form) }}
<br />

<button class= "btn btn-success">ابحث </button> #}
<div class="example-wrapper">

    <table>
    <tr>
        <td> اسم الطالب </td>
        <td> الرقم الجامعي </td>
        <td> الكلية </td>
    </tr>
    {% for user in users %}
    <tr>
        <td> {{user.userName}} </td>
        <td> {{user.cardNumber}} </td>
        <td> {{user.college.collegeName}} </td>
        <td> 
        <a class="btn btn-primary" href="{{ path('user_edit', { id: user.id }) }}">تعديل</a>
        </td> 
    </tr>
     {% endfor %}
    </ul>
     </table>
</div>

{% endblock %}
